
.vehicle--content {
    display: flex;
    flex-direction: column;
}

.vehicle--article, .vehicle--range-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.vehicle--article img {
    transition: var(--transition);
    border-radius: 2rem;
}

.vehicle--article img:hover {
    transform: scale(1.03);
}

.vehicle--article p {
    padding: 2rem;
    line-height: 1.8;
    letter-spacing: 3px;
}

.vehicle--range h3 {
    text-align: center;
    padding-top: 2rem;
}

.vehicle--range-item h4 {
    text-align: center;
    margin-bottom: 1rem;
}

.vehicle--range-element {
    display: flex;
    gap: 2.25rem;
    align-items: center;
    padding-bottom: 1rem;
}

.symbol {
    padding: 16px;
    border-radius: 3px;
    color: var(--color-white);
    font-weight: 700;
    background-color: var(--color-primary-variant);
}

@media screen and (max-width: 1024px) {
    #vehicle img {
        display: none;
    }
    
    .vehicle--article {
        display: block;
    }

    .vehicle--range h4 {
        padding: 1rem;
    }

    .vehicle--range-element {
        gap: 1rem;
    }

}

/* =================== MEDIA QUERIES (SMALL DEVICES) =================== */

@media screen and (max-width: 600px) {
    .vehicle--article, .vehicle--range-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}